.profile__edit-button {
    width: 26px;
    height: 26px;
    background: none;
    border: solid white 1px;
    padding: 0;
}

@media screen and (max-width: 880px) {
    .profile__edit-button {
        margin-left: 0;
        width: 18px;
        height: 18px;
    }
   }