.popup__container {
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #000000;
    padding: 36px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 880px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}