.profile__add-button {
    width: 150px;
    height: 50px;
    background: none;
    border: solid white 2px;
    padding: 0;
    border-radius: 2px;
}

@media screen and (max-width: 880px) {
    .profile__add-button {
        width: 282px;
    }
}