.popup__close {
    background: none;
    border: none;
    transform: translateX(240px);
}

@media screen and (max-width: 880px) {
    .popup__close {
        transform: translateX(130px) translateY(-10px);
    }
}