.profile__avatar {
    max-width: 120px;
    width: 100%;
    max-height: 120px;
    border-radius: 100%;
    margin-right: 30px;
    object-fit: cover;

}

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin-right: 0;
    }
}